<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Be Healthy</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
            <a href="/challenges" class="nav-link" routerLink="challenges">Challenges </a>
        </li>
        <div *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href="/venues" class="nav-link" routerLink="venues">Venues</a>
            </li>
        </div>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
            <a class="nav-link">Your coins:</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"> {{coins}}</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <ul class="nav-flex-icons">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-primary btn-primary_notification bg-dark" ngbDropdownToggle [disabled]="notificationService.notifications.length == 0">
                    <span class="badge badge-danger ml-2">{{notificationService.uncheckedCount}}</span>
                    <i class="fas fa-bell"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let notification of getNotifications() let last = last" [class.last-item]="last" [class.let-notification]="notification">
                        <div class="profile-wrapper" (mouseover)="checkNotification(notification)" [ngStyle]="{'background-color':notification.isChecked ? 'white' : '#ffbbbb' }">
                            <div class="notification ">
                                <p class="notification_text">
                                    {{notification.challengeName}}
                                    <br> {{notification.body}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ul>
        <li class="nav-item">
            <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">{{username}}</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-lg btn-outline-primary" (click)="openSettings()">Settings</button>
        </li>
        <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
    </ul>
</nav>