.show {
    padding-top: 0;
    padding-bottom: 0;
}

.notification_text {
    margin: 0;
}

.notification:hover {
    background: rgb(202, 189, 189);
}

.let-notification {
    margin-bottom: 10px;
    border-bottom: 2px solid;
}

.last-item {
    border-bottom: none;
}

.btn-primary {
    border: none !important;
}

.btn-primary.btn.active {
    color: white;
    border: none!important;
    box-shadow: none !important;
}

.btn-primary.btn:active {
    color: white!important;
    border: none !important;
    ;
    box-shadow: none !important;
}

.btn-primary.btn {
    background-color: gray;
    color: darkgray;
    position: relative;
}

.btn-primary_notification:hover {
    background: none !important;
}

.btn-primary.btn:focus {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
}

.bg-dark:focus {
    background: none !important;
}

.dropdown-toggle::after {
    display: none;
}

.badge {
    position: absolute;
    width: 14px;
    height: 14px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    top: 5%;
}