<div class="row">
    <div class="col-md-2 mx-auto">

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col" sortable="Name" (sort)="onSort($event)">Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let achievement of achievements | paginate: config; let i = index">
                    <td><img class="thumbnail-picture" [src]="createImgPath(achievement.thumbnailPath)" alt="achievement picture"></td>
                    <td>{{achievement.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>