<div class="row">
  <div class="col-md-5 mx-auto">

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th scope="col" sortable="CommitDateTIme" (sort)="onSort($event)">Commit Date</th>
          <th scope="col" sortable="Challenge.Name" (sort)="onSort($event)">Challenge name</th>
          <th scope="col" sortable="Status" (sort)="onSort($event)">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commit of commits | paginate: config; let i = index">
          <td>{{commit.userName}}</td>
          <td>{{commit.commitDateTime | date: 'shortDate'}}</td>
          <td>{{commit.userChallenge.challenge.name}}</td>
          <td>{{commit.status}}</td>
          <td><a routerLink="/commit/{{commit.id}}/details"><button class="btn btn-primary"> Show details</button></a></td> 
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

</div>