label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  img{
    width:400px; 
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  button{
    margin-right: 5px;
    margin-top: 10px;
    width: 100px;
    margin-bottom: 10px;
  }

  .btn-primary{
    border-color: black;
  }
  
  .btn-primary.btn.active{
    background-color: brown;
    color: white;
    border-color: black;
    box-shadow: none !important;
  }
  .btn-primary.btn:active{
    background-color: brown!important;
    color: white!important;
    border-color: black!important;
    box-shadow: none !important;
  }
  .btn-primary.btn{
    background-color: gray;
    color: darkgray;
  }
  
  .btn-primary_footer{
    background-color: brown !important;
    color: white !important;
  }