<div class="row">
  <div class="col-md-9 mx-auto">
  <a routerLink="/challenge/0/details"><button class="btn btn-primary"> Add challenge</button></a>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th scope="col" sortable="Name" (sort)="onSort($event)">Title</th>
          <th scope="col" sortable="Reward" (sort)="onSort($event)">Reward</th>
          <th scope="col" sortable="Status" (sort)="onSort($event)">Status</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let challenge of challenges | paginate: config; let i = index">
          <td><img class="thumbnail-picture" [src]="createImgPath(challenge.thumbnailPath)" alt="challenge picture"></td>
          <td>{{challenge.name}}</td>
          <td>{{challenge.reward}}</td>
          <td>{{challenge.status}}</td>
          <td>{{challenge.creatorName}}</td>
          <td><a routerLink="/challenge/{{challenge.id}}/details"><button class="btn btn-primary"> Show details</button></a></td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
<pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
