<div class="row">
    <div class="col-md-3 mr-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Distance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venue of allVenues | paginate: config; let i = index">
                    <td>{{venue.title}}</td>
                    <td>{{venue.creator.userName}}</td>
                    <td>{{venue.distance}} m</td>
                    <td><a routerLink="/venue/{{venue.id}}"><button class="btn btn-primary"> Show
                                        details</button></a></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
        <a routerLink="/venue/0"><button class="btn btn-primary"> Add challenge</button></a>
    </div>
    <div class="content-right">
        <div class="ml-auto">
            <div *ngIf="location">
                <agm-map class="map" [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="15">
                    <div *ngIf="user.location">
                        <agm-marker [latitude]="user.location.latitude" [longitude]="user.location.longitude">
                            <agm-info-window>
                                <strong>Your home</strong>
                            </agm-info-window>
                        </agm-marker>
                    </div>

                    <div *ngFor="let venue of nearestVenues">
                        <agm-marker [latitude]="venue.location.latitude" [longitude]="venue.location.longitude">
                            <agm-info-window>
                                <strong>{{venue.title}}</strong>
                            </agm-info-window>
                        </agm-marker>
                    </div>
                </agm-map>
            </div>
        </div>
    </div>
</div>